.button {
  width: 50%;
  margin: auto;
  padding: 5px;
  display: block;
  border-radius: 4px;
}

.form {
  margin: auto;
  max-width: 40%;
}

.h1 {
  text-align: center;
}

.input {
  border-radius: 5px;
}

.errorInput {
  border: 1px solid red;
  border-radius: 5px;
}

.successInput {
  border: 1px solid green;
  border-radius: 5px;
}

.label {
  margin-right: 10px;
}

.inputBlock {
  text-align: center;
  display: block;
  margin: 0px auto;
}

.error {
  color: red;
  font-size: xx-small;
}
