.button {
  width: 50%;
  margin: auto;
  padding: 5px;
  display: block;
  border-radius: 4px;
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #cc5c7e;
  border: 1px solid #cc5c7e;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.form {
  margin: auto;
  padding: 5px;
  max-width: 40%;
  font: inherit;
  background-color: hotpink;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.h1 {
  text-align: center;
}

.input {
  justify-content: center;
  margin: auto;
  padding: 5px;
  display: block;
  border-radius: 4px;
}

.errorInput {
  border: 0px solid red;
  width: 50%;
  margin: auto;
  padding: 5px;
  display: block;
  border-radius: 4px;
}

.successInput {
  border:1px solid green;
  border-radius: 5px;
}

.label {
  display: block;
  margin-right: 10px;
}

.inputBlock {
  font: inherit;
  background-color: #cc5c7e;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid cc5c7e;
  width: 100%;
  padding: 0.25rem;
}

.error {
  color: white;
  font-size: xx-small;
}
