.spinner {
  display: block;
  margin: auto;
  text-align: center;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  margin: 16px;
  border-radius: 50%;
  border: 6px solid #cc5c7e;
  border-color: #cc5c7e transparent transparent transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
