body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.col1 {
  width: 8.33%;
  float: left;
  padding: 15px;
  border: 1px solid gray;
}
.col2 {
  width: 16.66%;
  float: left;
  padding: 15px;
  border: 1px solid gray;
}
.col3 {
  width: 25%;
  float: left;
  padding: 15px;
  border: 1px solid gray;
}
.col4 {
  width: 33.33%;
  float: left;
  padding: 15px;
  border: 1px solid gray;
}
.col5 {
  width: 41.66%;
  float: left;
  padding: 15px;
  border: 1px solid gray;
}
.col6 {
  width: 50%;
  float: left;
  padding: 15px;
  border: 1px solid gray;
}
.col7 {
  width: 58.33%;
  float: left;
  padding: 15px;
  border: 1px solid gray;
}
.col8 {
  width: 66.66%;
  float: left;
  padding: 15px;
  border: 1px solid gray;
}
.col9 {
  width: 75%;
  float: left;
  padding: 15px;
  border: 1px solid gray;
}
.col10 {
  width: 83.33%;
  float: left;
  padding: 15px;
  border: 1px solid gray;
}
.col11 {
  width: 91.66%;
  float: left;
  padding: 15px;
  border: 1px solid gray;
}
.col12 {
  width: 100%;
  float: left;
  padding: 15px;
  border: 1px solid gray;
}